@font-face {
  font-family: 'distant_galaxyregular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/DISTGRG_-webfont.woff') format('woff'),
  url('assets/fonts/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DISTGRG_-webfont.eot'), url('assets/fonts/DISTGRG_-webfont.ttf') format('truetype'),
  url('assets/fonts/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
}
