@import 'variables';
@import 'fonts';
@import 'menu';
@import 'overrides';

html {
  height: 100%;
  min-width: 1200px;
}

body {
  background-color: $site-background-color;
  background-image: url('./assets/images/death_star_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $site-font-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $site-font-size;
}

.main-header {
  h1 {
    font-family: 'distant_galaxyregular', Helvetica, Arial, sans-serif;
    font-size: 60px;
    margin-top: 10px;
  }
}

.page-header-actions {
  padding-top: 20px;
  text-align: right;
}

.img-fill-col {
  display: block;
  height: auto;
  width: 100%;
}

.article-header {
  h2 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}