<nav class="menu">
  <header class="menu-header">Turbo Lift</header>
  <ul class="menu-list">
    <li class="menu-element"><a href="#" title="Mess Hall" class="menu-link">Mess Hall</a></li>
    <li class="menu-element"><a href="#" title="Living quarters" class="menu-link">Living quarters</a></li>
    <li class="menu-element"><a href="#" title="Recreation room" class="menu-link">Command center</a></li>
    <li class="menu-element"><a href="#" title="Hangar" class="menu-link">Hangar</a></li>
  </ul>
</nav>