<nav class="menu">
  <header class="menu-header">Turbo Lift</header>
  <ul class="menu-list">
    <li class="menu-element"><a routerLink="mess-hall" routerLinkActive="active" title="Mess Hall" class="menu-link">Mess Hall</a></li>
    <li class="menu-element"><a routerLink="living-quarters" routerLinkActive="active" title="Living quarters" class="menu-link">Living quarters</a></li>
    <li class="menu-element"><a routerLink="command-center" routerLinkActive="active" title="Recreation room" class="menu-link">Command center</a></li>
    <li class="menu-element"><a routerLink="hangar" routerLinkActive="active" title="Hangar" class="menu-link">Hangar</a></li>
    <li class="menu-element"><a routerLink="barracks" routerLinkActive="active" title="Barracks" class="menu-link">Barracks</a></li>
  </ul>
</nav>
