<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Starship</label>
      <select class="form-control">
        <option value="">Select starship</option>
        <option
          *ngFor="let ship of ships"
          [value]="ship.value"
        >{{ ship.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Max speed</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-xs-6">
    <div class="form-group">
      <label>Weight</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="5"></textarea>
    </div>
  </div>
</div>
