<section class="form">
  <header class="page-header">
    <div class="row">
      <div class="col-xs-8">
        <h2>Job<small>form</small></h2>
      </div>
    </div>
  </header>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Build and protect the Death Star with us</h3>
    </div>
    <div class="panel-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="firstname">Email address</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                placeholder="First name"
                formControlName="firstname"
              >
            </div>

            <div class="form-group">
              <label for="lastname">Email address</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                placeholder="Last name"
                formControlName="lastname"
              >
            </div>

            <div class="form-group">
              <label for="species">Select species</label>
              <select id="species" class="form-control" formControlName="species">
                <option value="">Select your species</option>
                <option
                  *ngFor="let item of source.species"
                  [value]="item.value"
                >
                  {{ item.label }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="job">Select job</label>
              <select id="job" class="form-control" formControlName="job">
                <option value="">Select job</option>
                <option
                  *ngFor="let item of source.jobs"
                  [value]="item.value"
                >
                  {{ item.label }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="power">Select your Jedi power</label>
              <select id="power" class="form-control" formControlName="power">
                <option value="">Select your power</option>
                <option
                  *ngFor="let item of source.powers"
                  [value]="item.value"
                >
                  {{ item.label }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="weapon">Select your favorite weapon</label>
              <select id="weapon" class="form-control" formControlName="weapon">
                <option value="">Select your favorite weapon</option>
                <option
                  *ngFor="let item of source.weapons"
                  [value]="item.value"
                >
                  {{ item.label }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="ship">Select your favorite ship</label>
              <select id="ship" class="form-control" formControlName="ship">
                <option value="">Select your favorite ship</option>
                <option
                  *ngFor="let item of source.ships"
                  [value]="item.value"
                >
                  {{ item.label }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="10" id="description" formControlName="description"></textarea>
            </div>

            <div formGroupName="agreements">
              <div class="radio">
                <label>
                  <input type="radio" name="ownShip" [value]="true" formControlName="ownShip">
                  I have starship
                </label>
              </div>

              <div class="radio">
                <label>
                  <input type="radio" name="ownShip" [value]="false" formControlName="ownShip">
                  I don't have starship
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" [value]="true" formControlName="newsletter">
                  I agree to the processing of personal data in order to send marketing messages by Imperial
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" (click)="sendApplication(form)">Send application</button>
            <button class="btn btn-danger" (click)="reset(form)">Reset</button>
            <button class="btn btn-primary" (click)="setValues(form)">Set value</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
