<section class="details">
  <header class="page-header">
    <div class="row">
      <div class="col-xs-8">
        <h2>Hangar bay<small>details</small></h2>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <img src="./assets/images/hangar.jpg" alt="Hangar" class="img-thumbnail img-fill-col" />
    </div>
  </div>
  <div class="row hangar-content">
    <div class="col-xs-2">
      <ds-hangar-menu></ds-hangar-menu>
    </div>
    <div class="col-xs-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>