<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <nav class="menu">
        <header class="menu-header">Turbo Lift</header>
        <ul class="menu-list">
          <li class="menu-element"><a routerLink="" title="Home" class="menu-link">Home</a></li>
          <li class="menu-element"><a routerLink="people" title="People" class="menu-link">People</a></li>
          <li class="menu-element"><a routerLink="planets" title="Planets" class="menu-link">Planets</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <header class="main-header">
              <h1 class="text-center">Death Star</h1>
            </header>
            <section class="list">
              <router-outlet></router-outlet>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
