<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <nav class="menu">
        <header class="menu-header">Turbo Lift</header>
        <ul class="menu-list">
          <li class="menu-element" routerLinkActive="menu-element-active">
            <a routerLink="job" title="Job" class="menu-link">Job</a>
          </li>
          <li class="menu-element" routerLinkActive="menu-element-active">
            <a routerLink="hangar" title="Hangar" class="menu-link">Hangar</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <header class="main-header">
              <h1 class="text-center">Death Star</h1>
            </header>
             <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
