<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <nav class="menu">
        <header class="menu-header">Turbo Lift</header>
        <ul class="menu-list">
          <li class="menu-element"><a href="#" title="Mess Hall" class="menu-link">Mess Hall</a></li>
          <li class="menu-element"><a href="#" title="Living quarters" class="menu-link">Living quarters</a></li>
          <li class="menu-element-active"><a href="#" title="Recreation room" class="menu-link">Recreation room</a></li>
          <li class="menu-element"><a href="#" title="Hangar" class="menu-link">Hangar</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <header class="main-header">
              <h1 class="text-center">Death Star</h1>
            </header>
            <section class="list">
              <header class="page-header">
                <div class="row">
                  <div class="col-xs-8">
                    <h2>Recreation room<small>list of equipment</small></h2>
                  </div>
                  <div class="col-xs-4 page-header-actions">
                    <button class="btn btn-default">Add equipment</button>
                  </div>
                </div>
              </header>
              <table class="table table-striped">
                <thead class="thead">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Color</th>
                    <th class="actions">Actions</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr>
                    <td>1</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="details">
              <header class="page-header">
                <div class="row">
                  <div class="col-xs-8">
                    <h2>Equipment<small>details</small></h2>
                  </div>
                  <div class="col-xs-4 page-header-actions">
                    <button class="btn btn-default">Back to the list</button>
                  </div>
                </div>
              </header>
              <div class="row">
                <div class="col-xs-6">
                  <img src="./assets/images/yoda.png" alt="Yoda" class="img-thumbnail img-fill-col" />
                </div>
                <div class="col-xs-6">
                  <article>
                    <header class="article-header">
                      <h2>Lorem ipsum dolor sit amet</h2>
                    </header>
                    <section>
                      <p>Pellentesque eu lacus eu lorem efficitur ullamcorper at ac felis. Maecenas bibendum urna vel augue congue, vitae luctus velit dignissim. Morbi congue faucibus maximus. Integer pretium, lorem sed imperdiet pellentesque.</p>
                      <p>lacus vitae quam. Vestibulum elementum sodales orci, non fringilla eros imperdiet eget. Suspendisse id ornare ligula, eget elementum lacus. Aenean efficitur quam id mi mattis, vitae mattis neque malesuada. Vivamus facilisis erat nunc, at porta risus suscipit vitae. </p>
                      <p>Donec id porta nulla. Praesent consequat purus at odio vehicula, non commodo augue laoreet. Nullam euismod, urna non egestas dictum, mauris mauris elementum ligula, a vulputate augue augue in odio. Nam consectetur sit amet lacus in dapibus.</p> 
                      <p>Praesent id mauris consequat purus gravida eleifend eu ut neque. Morbi ullamcorper tempor leo, sit amet faucibus ligula feugiat sed. Sed aliquam aliquet tristique. Nam volutpat, velit et sodales tincidunt, ligula dolor egestas nulla, id elementum odio turpis in diam.</p>
                      <p>Donec id porta nulla. Praesent consequat purus at odio vehicula, non commodo augue laoreet. Nullam euismod, urna non egestas dictum, mauris mauris elementum ligula, a vulputate augue augue in odio. Nam consectetur sit amet lacus in dapibus.</p> 
                      <p>Praesent id mauris consequat purus gravida eleifend eu ut neque. Morbi ullamcorper tempor leo, sit amet faucibus ligula feugiat sed. Sed aliquam aliquet tristique. Nam volutpat, velit et sodales tincidunt</p>
                    </section>
                  </article>
                </div>
              </div>
            </section>
            <section class="form">
              <header class="page-header">
                <div class="row">
                  <div class="col-xs-8">
                    <h2>Equipment<small>form</small></h2>
                  </div>
                  <div class="col-xs-4 page-header-actions">
                    <button class="btn btn-default">Back to the list</button>
                  </div>
                </div>
              </header>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                  <form>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleselect">Select your Jedi power</label>
                        <select name="jediPower" id="exampleselect" class="form-control">
                          <option value="0" selected>Select your power</option>
                          <option value="1">Telekinesis</option>
                          <option value="2">Telepath</option>
                        </select>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="textField">TextField</label>
                        <textarea class="form-control" name="textField" id="textField"></textarea>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">
                          Option one is this and that&mdash;be sure to include why it's great
                        </label>
                      </div>
                      <div class="checkbox disabled">
                        <label>
                          <input type="checkbox" value="" disabled>
                          Option two is disabled
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Option one is this and that&mdash;be sure to include why it's great
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                          Option two can be something else and selecting it will deselect option one
                        </label>
                      </div>
                      <div class="radio disabled">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                          Option three is disabled
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TODO uncomment
<router-outlet></router-outlet>
-->
