<section class="details">
  <header class="page-header">
    <div class="row">
      <div class="col-xs-8">
        <h2>Command center<small>details</small></h2>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-6">
      <img src="./assets/images/barracs.png" alt="Cmmand center" class="img-thumbnail img-fill-col" />
    </div>
    <div class="col-xs-6">
      <article>
        <header class="article-header">
          <h2>Lorem ipsum dolor sit amet</h2>
        </header>
        <section>
          <p>
             Pellentesque eu lacus eu lorem efficitur ullamcorper at ac felis. Maecenas bibendum urna vel augue congue,
             vitae luctus velit dignissim. Morbi congue faucibus maximus. Integer pretium, lorem sed imperdiet
             pellentesque.
          </p>
          <p>
             lacus vitae quam. Vestibulum elementum sodales orci, non fringilla eros imperdiet eget. Suspendisse id
             ornare ligula, eget elementum lacus. Aenean efficitur quam id mi mattis, vitae mattis neque malesuada.
             Vivamus facilisis erat nunc, at porta risus suscipit vitae. </p>
          <p>
            Donec id porta nulla. Praesent consequat purus at odio vehicula, non commodo augue laoreet. Nullam euismod,
            urna non egestas dictum, mauris mauris elementum ligula, a vulputate augue augue in odio. Nam consectetur
            sit amet lacus in dapibus.
          </p>
          <p>
            Praesent id mauris consequat purus gravida eleifend eu ut neque. Morbi ullamcorper tempor leo, sit amet
            faucibus ligula feugiat sed. Sed aliquam aliquet tristique. Nam volutpat, velit et sodales tincidunt,
            ligula dolor egestas nulla, id elementum odio turpis in diam.
          </p>
          <p>
            Donec id porta nulla. Praesent consequat purus at odio vehicula, non commodo augue laoreet. Nullam euismod,
            urna non egestas dictum, mauris mauris elementum ligula, a vulputate augue augue in odio. Nam consectetur
            sit amet lacus in dapibus.
          </p>
          <p>
            Praesent id mauris consequat purus gravida eleifend eu ut neque. Morbi ullamcorper tempor leo, sit amet
            faucibus ligula feugiat sed. Sed aliquam aliquet tristique. Nam volutpat, velit et sodales tincidunt
          </p>
        </section>
      </article>
    </div>
  </div>
</section>